a {
    text-decoration: none;
}

p {
	color: #3c2415;
	font-family: helvetica;
	text-align: justify;
}

h2{
	font-family: helvetica;
	font-weight: 700;
	color: #3c2415;
	text-transform: uppercase;
	margin: 10px 0;
}

h3 {
	font-family: helvetica;
	font-size: 25px;
	color: #3c2415;
	text-transform: uppercase;
	font-weight: 700;
}

h4 {
	font-family: helvetica;
	font-size: 18px;
	font-weight: 700;
	color: #3c2415;
	margin: 10px 0;
}

h5 {
	color: #3c2415 ;
	font-family: helvetica;
	margin: 10px 0;
}


