a {
    text-decoration: none;
}

p {
	color: #3c2415 ;
	font-family: helvetica;
	text-align: justify;
	padding: 0 13px 0 0;
}

h2{
	font-family: helvetica;
	font-weight: 700;
	color: #3c2415;
	text-transform: uppercase;
}

h3 {
	font-family: helvetica;
	font-size: 25px;
	color: #3c2415;
	text-transform: uppercase;
	
}

h4 {
	font-family: helvetica;
	font-size: 18px;
}

h5 {
	color: #3c2415 ;
	font-family: helvetica;
}

