.marco {
	border: 10px solid transparent;
    -webkit-border-radius: url(marco2-mapa.png) 40 round;
    border-image: url(marco2-mapa.png) 70 round;
}

.fondo {
	padding: 10px 15px;
	background-color: #FFF;
	border: 2px solid #FFF;
	-webkit-border-radius: 2px;
}