header, footer{
    background: #3c2415;
    width: 100%;
    box-sizing: border-box;
}

.separacion {
  width: 100%;
  height: 20px;
}

.head {
  overflow: hidden;
  display: block;
}

.mobile {
  display: none;
}

.derecha{
  text-align: right;
}

.izquierda{
  text-align: left;
}

.margen1 {
  margin: 7px;
  position: relative;
  left: 1%;
}

.margen2 {
  margin: 7px;
  position: relative;
  left: 2%
}

.mar {
  margin-right: 25%;
}

.layout_a {
    color: #FFFFFF;
    float: left;
    font-family: helvetica;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 10px 0;
    border-right: 2px solid white;

}

.layout_b {
    color: #FFFFFF;
    font-family: helvetica;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;

}
.menu {
    float: left;
}
.layout_c {
    color: #FFFFFF;
    float: left;
    font-family: helvetica;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 10px 0;
}

.layout_s {
    font-family: helvetica;
    font-size: 10px;
    color: #FFF;
    display: block;
    padding: 0 0 5px 0;
}

.list {
  list-style: disc;
  margin: 3px 20px 0px 20px;
  font-size: 15px;
  font-family: helvetica;
  text-align: justify;
  line-height: 1.3;
  color: #3c2415;
}

header {
    top: 18;
}

footer {
    bottom: 0;
}
header img {
    width: 100%;
    display: block;
}

.menu_bar {
    display: none;
}

.same-width {
    width: 100%;
    height: auto;
    overflow: hidden;
    float: center;

}

.layout_t {
    float: left;
    display: block;
}

.time {
    width: 25%;
    padding-top: 10px;
}

.sociales {
    height: 40px;
    display: block;
    padding-bottom: 10px;
  }

.time_p {
    font-size: 10px;
}

.title{
    padding-top: 10px;
    padding-bottom: 5px;
}

.text {
    line-height: 1.3;
    display: block;
    text-align: justify;
    font-size: 15px;
}

.adress {

    line-height: 1.3;
    display: block;
    text-align: left;
    font-size: 15px;
}

.read {
    text-decoration: underline;
    font-weight: 600;
    color: #3c2415;
}

.contacto { 
    margin: 8px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.8;
}

.orientacion {
  display: block;
  width: 100%;
  height: auto;
}


.pollo {
  width: 100%;
  height: auto;
  overflow: hidden;
  float: center;
}

.img-1 {
  width: 49%;
  height: auto;
  overflow: hidden;
  padding: 7px 0;
  float: left;
}

.img-2 {
  width: 49%;
  height: auto;
  overflow: hidden;
  padding: 7px 0;
  float: right;

}

.img {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 5px 0;
}

.orient-1 {
  float: left;
  width: 48%;
}

.orient-2{
  float: right;
  width: 48%;
}

@media screen and (max-width: 1000px){
  header nav {
    background: #3c2415;
    width: auto;
    height: auto;
    left: -100%;
    margin: 0;
    position: absolute;
    border: none;
  }

  header nav ul li a:hover {
    background:#4a250e;
  }

  .layout_a {
    display: block;
    float: none;
    border: none;
    border-bottom: 1px solid rgba(255,255,255, .3);
    padding: 19px;
    margin: 0;
  }
  .layout_c {
    display: block;
    float: none;
    border: none;
    padding: 19px;
    border-bottom: 1px solid rgba(255,255,255, .3);
    margin: 0;
  }
  
  .fila {
    float: none;
    display: block; 
  }

  .centrar {
    float: none;
    display: block;
    text-align: left;
  }

  .menu_bar {
    display: block;
    width: 100%;
  }

  .menu_bar .bt_menu {
    display: block;
    color: #FFFFFF;
    font-family: helvetica;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

  .menu_bar span {
    float: right;
    font-size: 30px;

  }

  ..col-1 {
  -ms-flex-preferred-size: 300px;
  -webkit-flex-basis: 300px;
  flex-basis: 300px;
  max-width: 300px;
  }

  .col-2 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col-3 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col-4 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col-5 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col-6 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col-7 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col-8 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col-9 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col-10 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col-11 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col-12 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .orientacion {
    margin-bottom: 15px;
  }

  .separacion {
    height: 0;
  }

  .col5 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .margen1 {
    left: 0;
  }

  .margen2 {
    left: 0;
  }

  .text{
    font-size: 12px;
    font-family: helvetica;
  }

  .list {
   font-size: 12px;
  }

  .col_4 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

}

@media screen and (max-width: 760px) {

  .mobile {
    display: block;
  }

  .head {
    display: none;
  }
  .col5{
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col2{
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col6 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col_5 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col1 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .izq {
    float: left;
  }

  .der {
    float: right;
  }

  .coll5 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col_6 {
    -ms-flex-preferred-size: 300px;
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    max-width: 300px;
  }

  .col-offset-5 {
    margin-left:2% 
  }

  .cent {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
  
